@page "/"
@using CVClassLibrary.Models
@inject APICRUD apiCRUD;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;


<body>
    <PageTitle>Index</PageTitle>

    

    <AuthorizeView>
        <NotAuthorized>
            <div class="my-2">
                <h1>Projects</h1>
                <p>Here is a list of some projects I have done at ITHS</p>
                @if (_listOfSkills is null)
                {
                    <p>Project List is Empty</p>
                }
                else
                {
                    @foreach (var item in _listOfProjects)
                    {
                        <div class="card p-2 my-1 bg-light">
                            <h4>@item.Title</h4>
                            <p>@item.Description</p>
                            <a href="@item.GithubLink" target="_blank"><img src="/images/github-mark.png" alt="Github Mark" style="width: 20px" /></a>
                        </div>
                    }
                }
            </div>
            <div class="my-2">
            <h1>Skills</h1>
                <p>Here is a list of some skills I am learning at ITHS</p>
                @if (_listOfSkills is null)
                {
                    <p>Skill List Empty</p>
                }
                else
                {
                    @foreach (var item in _listOfSkills)
                    {
                        <div class="card p-2 my-1 bg-light">
                            <h4>@item.Title</h4>
                            <img src="@item.pictureURL" alt="Image not available" class="col-1" />
                            <p>@item.Description</p>
                            <p>@item.SkillLevel /10</p>
                            <p>@item.YearsOfExperience Years of Experience</p>
                        </div>
                    }
                }
            </div>
        </NotAuthorized>
        <Authorized>
            <div class="my-2">
                <h1>Projects</h1>
                <p>Here is a list of some projects I have done at ITHS</p>
                @if (_listOfSkills is null)
                {
                    <p>Project List is Empty</p>
                }
                else
                {
                    @foreach (var item in _listOfProjects)
                    {
                        <div class="card p-2 my-1 bg-light">
                            <h4>@item.Title</h4>
                            <p>@item.Description</p>
                            <a href="@item.GithubLink" target="_blank"><img src="/images/github-mark.png" alt="Github Mark" style="width: 20px" /></a>
                        </div>
                    }
                }
            </div>
            <div class="my-2">
                <h1>Skills</h1>
                <p>Here is a list of some skills I am learning at ITHS</p>
                @if (_listOfSkills is null)
                {
                    <p>Skill List Empty</p>
                }
                else
                {
                    @foreach (var item in _listOfSkills)
                    {

                        <div class="card p-2 my-1 bg-light">
                            <h4>@item.Title</h4>
                            <img src="@item.pictureURL" alt="Image not available" class="col-1" />
                            <p>@item.Description</p>
                            <p>@item.SkillLevel /10</p>
                            <p>@item.YearsOfExperience Years of Experience</p>
                        </div>
                    }
                }
            </div>

            <div class="form-group">

                <label for="toggle">Toggle Skill/Projects</label>
                <InputSelect @bind-Value="@selectedForm">
                    <option value="Skill">Skill Form</option>
                    <option value="Project">Project Form</option>
                </InputSelect>

                @if (selectedForm == "Skill")
                {
                    <EditForm Model="@NewSkill" OnValidSubmit="@HandleButtonPress" id="addskill" Context="editContext">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div id="skillForm">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <InputText id="title" class="form-control" @bind-Value="NewSkill.Title" />
                                <ValidationMessage For="@(() => NewSkill.Title)" />
                            </div>
                            <div class="form-group">
                                <label for="img">Image</label>
                                <InputText id="Image" class="form-control" @bind-Value="NewSkill.pictureURL" />
                                <ValidationMessage For="@(() => NewSkill.pictureURL)" />
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <InputText id="description" class="form-control" @bind-Value="NewSkill.Description" />
                                <ValidationMessage For="@(() => NewSkill.Description)" />
                            </div>

                            <div class="form-group">
                                <label for="level">Level</label>
                                <InputNumber id="level" class="form-control" @bind-Value="NewSkill.SkillLevel" />
                                <ValidationMessage For="@(() => NewSkill.SkillLevel)" />
                            </div>

                            <div class="form-group">
                                <label for="years-of-experience">Years of Experience</label>
                                <InputNumber id="years-of-experience" class="form-control" @bind-Value="NewSkill.YearsOfExperience"/>
                                <ValidationMessage For="@(() => NewSkill.YearsOfExperience)" />
                            </div><br />

                            <div class="form-group">
                                <label for="id">Id (Only needed if Update OR Delete)</label>
                                <InputSelect id="id" class="form-control" @bind-Value="NewSkill.Id" >
                                    @if (_listOfSkills is null)
                                    {
                                        <p>Skill List Empty</p>
                                    }
                                    else
                                    {
                                        @foreach (var item in _listOfSkills)
                                        {
                                            <option value="@item.Id">@item.Title</option>
                                        }
                                    }
                                </InputSelect>
                            </div>

                            <button class="btn btn-primary my-2" @onclick="() => { ButtonPress = 0;}" form="addskill" type="submit">Create</button>
                            <button class="btn btn-secondary my-2" @onclick="() => { ButtonPress = 1;}" form="addskill" type="submit">Update</button>
                            <button class="btn btn-danger my-2" @onclick="() => { ButtonPress = 2;}" form="addskill" type="submit">Delete</button>
                        </div>
                    </EditForm>

                }
                else if (selectedForm == "Project")
                {
                   <EditForm Model="@NewProject" OnValidSubmit="@HandleButtonPress" id="addproject" Context="editContext">
                       <DataAnnotationsValidator />
                       <ValidationSummary />
                       <div id="projectForm">
                           <div class="form-group">
                               <label for="title">Title</label>
                                   <InputText id="title" class="form-control" @bind-Value="NewProject.Title" ></InputText>
                                   <ValidationMessage For="@(() => NewProject.Title)" />
                           </div>
                           <div class="form-group">
                               <label for="git">GithubLink</label>
                                   <InputText id="git" class="form-control" @bind-Value="NewProject.GithubLink"></InputText>
                                   <ValidationMessage For="@(() => NewProject.GithubLink)" />
                           </div>

                           <div class="form-group">
                               <label for="description">Description</label>
                                   <InputText id="description" class="form-control" @bind-Value="NewProject.Description"></InputText>
                                   <ValidationMessage For="@(() => NewProject.Description)" />
                           </div>

                           <div class="form-group">
                               <label for="id">Id (Only needed if Update OR Delete)</label>
                                   <InputSelect id="id" class="form-control" @bind-Value="NewProject.Id">
                                   @if (_listOfProjects is null)
                                   {
                                       <p>Skill List Empty</p>
                                   } else
                                   {
                                       @foreach (var item in _listOfProjects)
                                       {
                                           <option value="@item.Id">@item.Title</option>
                               
                                       }
                                   }
                               </InputSelect>
                           </div>

                           <button class="btn btn-primary my-2" @onclick="() => { ButtonPress = 0;}" form="addproject" type="submit">Create</button>
                           <button class="btn btn-secondary my-2" @onclick="() => { ButtonPress = 1;}" form="addproject" type=" submit">Update</button>
                           <button class="btn btn-danger my-2" @onclick="() => { ButtonPress = 2;}" form="addproject" type=" submit">Delete</button>
                       </div>
                   </EditForm>
                }
            </div>

        </Authorized>
    </AuthorizeView>
</body>